<a href="https://colab.research.google.com/github/am11449/data-puzzles.com/blob/main/Data_Puzzle_Earth's_PSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro

Here's is the message from Earth:
'I remember that if you sort the countries (or dependencies) [Guinea, Iran, Trinidad And Tobago, Honduras, Lebanon, Ethiopia, Niger, Afghanistan, India, American Samoa, Cuba, Gabon, Nicaragua, Channel Islands, Martinique] by density of population (DESCENDING) and then only look at the first letter of each country, you'll get my message back!! Can you help me please?'

To help our planet, we preloaded world population and geographical data from the website Worldometer (https://worldometers.info/). Use it to do what the earth says and decode the message!

In [1]:
import pandas as pd

countries = ['Guinea', 'Iran', 'Trinidad and Tobago', 'Honduras', 'Lebanon',
             'Ethiopia', 'Niger', 'Afghanistan', 'India', 'American Samoa',
             'Cuba', 'Gabon', 'Nicaragua', 'Channel Islands', 'Martinique']

country_pop = pd.read_csv('https://raw.githubusercontent.com/hyperc54/data-puzzles-assets/master/misc/earth/population_by_country.csv')

In [2]:
country_pop.head()

,Country (or dependency),Population (2020),Yearly Change,Urban Pop %,World Share
0,China,1440297825,0.39 %,61 %,18.47 %
1,India,1382345085,0.99 %,35 %,17.70 %
2,United States,331341050,0.59 %,83 %,4.25 %
3,Indonesia,274021604,1.07 %,56 %,3.51 %
4,Pakistan,221612785,2.00 %,35 %,2.83 %

In [3]:
country_surface = pd.read_csv('https://raw.githubusercontent.com/hyperc54/data-puzzles-assets/master/misc/earth/surface_by_country.csv')

In [ ]:
country_surface.head()

  Country (or dependency)  Land Area (Km²)
0                   China          9388211
1                   India          2973190
2           United States          9147420
3               Indonesia          1811570
4                Pakistan           770880

In [ ]:
# Your turn now!

In [26]:
country_pop_subset = country_pop.loc[country_pop["Country (or dependency)"].isin(countries)]
country_pop_sorted = country_pop_subset["Population (2020)"].sort_values(ascending = False)

In [29]:
country_surface_subset = country_surface.loc[country_surface["Country (or dependency)"].isin(countries)]
country_surface_sorted = country_surface_subset.iloc[:,1].sort_values(ascending = False)
country_surface_sorted

1      2973190
17     1628550
55     1266700
11     1000000
36      652860
145     257670
74      245720
109     120340
91      111890
82      106440
108      10230
153       5130
178       1060
209        200
189        190
Name: Land Area (Km²), dtype: int64

In [46]:
country_density = pd.DataFrame(country_pop_sorted / country_surface_sorted)
# country_density
country_names = country_density.join(country_pop, how='left')
country_names = country_names[['Country (or dependency)', 0]]
country_names

    Country (or dependency)           0
1                     India  464.936679
11                 Ethiopia  115.434444
17                     Iran   51.688268
36              Afghanistan   59.850933
55                    Niger   19.220390
74                   Guinea   53.684189
82                     Cuba  106.401644
91                 Honduras   88.759791
108                 Lebanon  666.664321
109               Nicaragua   55.161002
145                   Gabon    8.671743
153     Trinidad and Tobago  272.959649
178              Martinique  353.974528
189         Channel Islands  916.526316
209          American Samoa  275.845000

In [49]:
country_names_sorted = country_names.sort_values(by = 0, ascending = False)
country_names_sorted

    Country (or dependency)           0
189         Channel Islands  916.526316
108                 Lebanon  666.664321
1                     India  464.936679
178              Martinique  353.974528
209          American Samoa  275.845000
153     Trinidad and Tobago  272.959649
11                 Ethiopia  115.434444
82                     Cuba  106.401644
91                 Honduras   88.759791
36              Afghanistan   59.850933
109               Nicaragua   55.161002
74                   Guinea   53.684189
17                     Iran   51.688268
55                    Niger   19.220390
145                   Gabon    8.671743

In [53]:
country_names_letters = country_names_sorted["Country (or dependency)"].apply(lambda x:x[0])
''.join(list(country_names_letters))

'CLIMATECHANGING'